body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.card_title {
  font-family: 'shrikhand', sans-serif;
}

.loader_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 0%;
  background-color: grey;
  position: fixed;
  z-index: 2;
  -webkit-animation-name: loader_back;
          animation-name: loader_back;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  height: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20%;
  margin-left: -60px;
  font-size: 10em;
  border-top: 10px solid #99E2D0;
  border-left: 10px solid #99E2D0;
  border-bottom: 10px solid #FF79DA;
  border-right: 10px solid #FF79DA;
  border-radius: 50%;
  opacity: 0;
  position: fixed;
  left: 50%;
  z-index: 3;
  -webkit-animation: loader linear;
          animation: loader linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.loader .loader_point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 10px solid #9356DC;
  -webkit-animation-name: loader_point;
          animation-name: loader_point;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.loader .loader_point i {
  font-size: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: white;
}

@-webkit-keyframes loader_back {
  0% {
    height: 150vh;
    opacity: 0;
  }
  1% {
    height: 150vh;
    opacity: 0.8;
  }
  50% {
    height: 150vh;
    opacity: 0.8;
  }
  95% {
    height: 150vh;
    opacity: 0.8;
  }
  100% {
    height: 150vh;
    opacity: 0.8;
  }
}

@keyframes loader_back {
  0% {
    height: 150vh;
    opacity: 0;
  }
  1% {
    height: 150vh;
    opacity: 0.8;
  }
  50% {
    height: 150vh;
    opacity: 0.8;
  }
  95% {
    height: 150vh;
    opacity: 0.8;
  }
  100% {
    height: 150vh;
    opacity: 0.8;
  }
}

@-webkit-keyframes loader {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes loader_point {
  0% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

@keyframes loader_point {
  0% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 80px;
  width: 100%;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 10px silver;
          box-shadow: 0px 1px 10px silver;
  z-index: 1;
  position: relative;
}

.header img {
  margin-top: 12%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 15px;
  height: auto;
  background-color: #515151;
}

footer .footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

footer img {
  -webkit-filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(100deg) brightness(111%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(100deg) brightness(111%) contrast(101%);
  width: 120px;
}

footer p {
  color: white;
}

footer .space {
  padding-left: 7px;
}

@media screen and (min-width: 700px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_info {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_info {
    width: 1150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
  }
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
  height: 80px;
  margin-top: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .map_zone {
  padding-top: 15px;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.explore {
  margin: 0;
  background-color: #F6F6F6;
  padding-bottom: 10px;
}

.explore_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 15px;
  width: 75%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore_contain p {
  margin-top: -5px;
}

.explore_contain .button {
  height: 30px;
  width: auto;
  margin: auto;
  font-size: 1em;
  margin-top: 10px;
  padding: 15px 20px 5px 20px;
  font-weight: 500;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 50px;
}

.explore_contain .button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 3px 3px 5px #a7a7a7;
          box-shadow: 3px 3px 5px #a7a7a7;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.explore_contain a {
  text-decoration: none;
  color: white;
}

.fonctioning {
  margin: auto;
  width: 90%;
}

.fonctioning_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fonctioning_list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 95%;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  -webkit-box-shadow: 3px 3px 10px #d8d8d8;
          box-shadow: 3px 3px 10px #d8d8d8;
  height: 75px;
  border-radius: 20px;
}

.fonctioning_list .list:last-child {
  background-color: rgba(147, 86, 220, 0.1);
}

.fonctioning_list .list:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

.fonctioning_list .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  border-radius: 50%;
  color: white;
  font-weight: 100;
  background-color: #9356DC;
}

.fonctioning_list i {
  font-size: 20px;
  padding-right: 20px;
  color: grey;
}

.fonctioning_list .phone_icon [class="fas fa-mobile-alt"] {
  padding: 4px;
  padding-right: 20px;
}

.fonctioning_list .store_icon [class="fas fa-store"] {
  color: #9356DC;
}

@media screen and (min-width: 1000px) {
  .fonctioning_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fonctioning_list .list_1, .fonctioning_list .list_2, .fonctioning_list .list_3 {
    width: 30%;
  }
}

.restaurants_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #F6F6F6;
}

.restaurants_cards .restaurants_box {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 10px;
}

.restaurants_cards .restaurants_box h2 {
  margin-bottom: 30px;
}

.grid_cards {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  -ms-grid-columns: (100%)[autofill];
      grid-template-columns: repeat(autofill, 100%);
  grid-gap: 20px;
}

.cards {
  width: 100%;
  position: relative;
  margin: auto;
  height: auto;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 10px #d8d8d8;
          box-shadow: 3px 3px 10px #d8d8d8;
}

.cards > a {
  text-decoration: none;
  color: black;
}

.cards .img {
  height: 190px;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cards .img-1 {
  background-image: url(../images/img-1.jpg);
}

.cards .img-2 {
  background-image: url(../images/img-2.jpg);
}

.cards .img-3 {
  background-image: url(../images/img-3.jpg);
}

.cards .img-4 {
  background-image: url(../images/img-4.jpg);
}

.cards .new {
  width: 75px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  padding-top: 5px;
  font-size: 0.9em;
  color: #158F5C;
  background-color: #9EF3CF;
  border-radius: 3px;
}

.cards .cards_bottom {
  height: 65px;
  padding-left: 12px;
}

.cards h3 {
  margin-bottom: -10px;
}

.cards .heart [class="fas fa-heart fa-2x"] {
  margin-left: 85%;
  opacity: 1;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards .heart_border [class="far fa-heart"] {
  margin-left: 85%;
  cursor: pointer;
  color: black;
  background-color: white;
  -webkit-transform: translateY(-92px);
          transform: translateY(-92px);
  font-size: 2em;
}

.cards .heart_border [class="far fa-heart"]:hover {
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

@media screen and (min-width: 700px) {
  .grid_cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .restaurants_box {
    max-width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 1400px) {
  .restaurants_box {
    max-width: 60%;
  }
  .grid_cards {
    grid-gap: 40px;
  }
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  left: 25px;
}

.arrow i {
  font-size: 1.5em;
  color: black;
}

.img-top {
  width: 100%;
  height: 40vh;
  background-image: url(../images/img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.price_card {
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  padding-top: 10px;
  background-color: #EDEDED;
  padding-bottom: 50px;
}

.price_card h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  margin-left: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.price_card .card_heart_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.heart_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heart [class="fas fa-heart fa-2x"] {
  opacity: 1;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart_border [class="far fa-heart"] {
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
  cursor: pointer;
  color: black;
  background-color: #EDEDED;
  font-size: 2em;
}

.heart_border [class="far fa-heart"]:hover {
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.menu {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: -70px;
}

.menu h3 {
  width: 50px;
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.entrances, .main_course, .dessert {
  display: block;
  width: 90%;
  margin: auto;
}

.global_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: 70px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 10px #d8d8d8;
          box-shadow: 3px 3px 10px #d8d8d8;
  -webkit-transition: 500ms;
  transition: 500ms;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.global_box:hover > .validate > .check_box {
  width: 70px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.global_box:hover > .validate > .check_box > .check_icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 700ms;
  transition: 700ms;
  opacity: 1;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  visibility: visible;
}

.global_box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.global_box .info span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.global_box h4 {
  margin-top: 7px;
  margin-bottom: -15px;
}

.global_box .validate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.global_box .price_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50px;
  background-color: white;
  height: 70px;
}

.global_box .price_box .price {
  margin-bottom: 10px;
  margin-left: 5px;
}

.global_box .check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  width: 0px;
  height: 70px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.global_box .check_box .check_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  opacity: 0.7;
  visibility: hidden;
}

.global_box .check_box .check_icon i {
  color: #99E2D0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  padding: 15px 20px 5px 20px;
  font-size: 1em;
  font-weight: 500;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 50px;
}

.button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 3px 3px 5px #a7a7a7;
          box-shadow: 3px 3px 5px #a7a7a7;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.button a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

.anim_2 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.anim_3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.anim_4 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.anim_5 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.anim_6 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.anim_7 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.anim_8 {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.anim_9 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

@media screen and (min-width: 750px) {
  .price_card {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: -50px;
  }
}

@media screen and (min-width: 1300px) {
  .price_card {
    display: block;
    width: 95%;
    margin: auto;
    margin-top: -50px;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    width: auto;
    height: auto;
    margin-left: auto;
    -ms-grid-columns: (33%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 33%);
  }
}
/*# sourceMappingURL=style.css.map */