.map {
    display:flex;    
    background-color:rgb(238, 238, 238) ;
    height: 80px;
    margin-top: -15px;
    justify-content: center;
    align-items: center;

    .map_zone {
        padding-top: 15px;
        margin-right: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }  
    
}

.explore {
    margin: 0;
    background-color: #F6F6F6;
    padding-bottom: 10px;
}

.explore_contain {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 15px;
    width: 75%;
    text-align: center;
    justify-content: center;

    p{ 
        margin-top: -5px;
    }

    .button {
        height: 30px;
        width: auto;
        margin: auto;
        font-size: 1em;
        margin-top: 10px;
        padding: 15px 20px 5px 20px;
        font-weight: 500;
        box-shadow: 2px 2px 3px rgb(167, 167, 167);
        background-image: linear-gradient(to top left, #9356DC, #FF79DA );
        border-radius: 50px;

        &:hover {
            filter: brightness(1.1);
            box-shadow: 3px 3px 5px rgb(167, 167, 167);
            transition: 150ms;
        }
    }
    
    a {
        text-decoration: none;
        color: white;
    }

}

.fonctioning {
    margin: auto;
    width: 90%;
    
}

.fonctioning_list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    

    .list {
        display: flex;
        cursor: pointer;
        width: 95%;
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 15px;
        align-items: center;
        background-color: #F6F6F6;
        box-shadow: 3px 3px 10px rgb(216, 216, 216);
        height: 75px;
        border-radius: 20px;
        
        &:last-child {
            background-color: rgba(147, 86, 220, 0.1) ;
            
        }
        &:hover {
            background-color: rgba(147, 86, 220, 0.1);
        }
        &:hover i {
            color: #9356DC;
        }
    }

    .number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        transform: translateX(-15px);
        border-radius: 50%;
        color: white;
        font-weight: 100;
        background-color:#9356DC ;

    }

    i {
        font-size: 20px;
         padding-right: 20px;
         color: grey;
    }
    .phone_icon [class="fas fa-mobile-alt"] {
        padding: 4px;
        padding-right: 20px;
    }
    .store_icon [class="fas fa-store"]{
        color: #9356DC;
        
    }

}


@media screen and (min-width: 1000px) {

    .fonctioning_list {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .list_1, .list_2, .list_3 {
            width: 30%;
        }
}

}