.img-top--image-2 {
    background-image:url(../images/img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.main_course--marg_modif {

    margin-top: 0;
}

.dessert--marg_modif {

    margin-top: 0;
}