.arrow {
    display: flex;
    align-self: center;
    position: absolute;
    left: 25px;

    i {
        font-size: 1.5em;
        color: black;
    }
}
.img-top {
    width: 100%;
    height: 40vh;
    background-image:url(../images/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
.price_card {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    padding-top: 10px;
    background-color: #EDEDED; 
    padding-bottom: 50px;
    
    
    h2 { 
        display: flex;
        width: 230px;
        margin-left: 10px;
        flex-wrap: nowrap;
        
       
    }

    .card_heart_content {
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 100px;
    }
}

.heart_box {
    display: flex;
    align-items: center;
    
}

.heart [class="fas fa-heart fa-2x"] {
    
    opacity: 1;
    background: -webkit-linear-gradient(#9356DC, #FF79DA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}



.heart_border [class="far fa-heart"] {
    transform: translateX(-32px);
    cursor: pointer;
    color: black;
    background-color: #EDEDED;
    font-size: 2em;

    &:hover {
        opacity: 0;
        transition: 400ms;
    }
}

.menu {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -70px;
       
    h3 {
        width:50px;
        text-transform: uppercase;
        font-weight: 100;
        border-bottom: solid #99E2D0 3px;
        padding-bottom: 5px;
        margin-bottom: 25px;
        
    }
} 

.entrances, .main_course, .dessert {
    display: block;
    width: 90%;
    margin: auto;
    
}

.global_box {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 70px;
    margin-bottom: 20px;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(216, 216, 216);
    transition: 500ms;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation-name: appear;
    animation-duration: 600ms;
    animation-fill-mode: both;

    &:hover > .validate > .check_box {
        width: 70px;
        transition-duration: 500ms ; 
    }

    &:hover > .validate > .check_box > .check_icon {   
        transform: rotate(360deg);
        transition: 700ms;
        opacity: 1;
        transition-delay: 100ms;
        visibility: visible;
    }
    
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

    h4 {
        margin-top: 7px;
        margin-bottom: -15px;
    }

.validate {
    display: flex;
    width: auto;
    transition-duration: 500ms;
    }

.price_box {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 50px;
    background-color: white;
    height: 70px;

    .price {
        margin-bottom: 10px;
        margin-left: 5px;
    }
}

.check_box {
    display: flex;
    justify-self: flex-end;
    width: 0px;
    height: 70px;
    border-radius: 0 15px 15px 0;
    background-color: #99E2D0;
    justify-content: center;
    align-items: center;
    transition: 500ms;

    .check_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: white;
        opacity: 0.7;
        visibility: hidden;
            
        i {
            color: #99E2D0;
        }

    }        
}

}

.button {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    padding: 15px 20px 5px 20px;
    font-size: 1em;
    font-weight: 500;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA );
    border-radius: 50px;

    &:hover {
        filter: brightness(1.1);
        box-shadow: 3px 3px 5px rgb(167, 167, 167);
        transition: 150ms;
    }

    a {
        text-decoration: none;
        color:white;
    }
}

@keyframes appear {

    0%{
        transform: translateY(0px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(-10px);
        opacity: 1;
    }
}

.anim_2 {
    animation-delay: 150ms;
}
.anim_3 {
    animation-delay: 300ms;
}
.anim_4 {
    animation-delay: 450ms;
}
.anim_5 {
    animation-delay: 600ms;
}
.anim_6 {
    animation-delay: 750ms;
}
.anim_7 {
    animation-delay: 900ms;
}
.anim_8 {
    animation-delay: 1050ms;
}
.anim_9 {
    animation-delay: 1200ms;
}

@media screen and (min-width: 750px) {

    .price_card {
        display: block;
        width: 70%;
        margin: auto;
        margin-top: -50px;
        
    }

}

@media screen and (min-width: 1300px) {
    
    .price_card {
        display: block;
        width: 95%;
        margin: auto;
        margin-top: -50px;
        
    }
   
    .menu {
        display: grid;
        width: auto;
        height: auto;
        margin-left: auto;
        grid-template-columns: repeat(auto-fill, 33%)
    }
}